@font-face {
    font-family: 'NanumSquareB';
    src: url(../font/NanumSquareB.woff);
}
@font-face {
    font-family: 'NanumSquareR';
    src: url(../font/NanumSquareR.woff);
}
@font-face {
    font-family: 'SCDream4';
    src: url(../font/SCDream4.woff);
}
@font-face {
    font-family: 'SCDream6';
    src: url(../font/SCDream6_1.woff);
}
@font-face {
    font-family: 'GillSansMTCondensed';
    src: url(../font/GILC____.woff);
}

*{ margin: 0; padding: 0;}
ul{ list-style: none;}
a{ text-decoration: none;}
body,html{ font-family: '나눔스퀘어',sans-serif; color: #363636;}
h1,h2,h3,h4,h5,h6{font-family: 'SCDream6',sans-serif; }

#wrap{ width: 390px; margin: 0 auto;}

/* header */
#header{width: 390px; height: 56px; background-color: #fff; position: relative;}
#header .tab_bar{ width: 390px; height: inherit; background-color: #fff; position: relative;}
#header .tab_bar .main_logo{ width: 133px; height: inherit; position: absolute; top: 0; left: 14px;}
#header .tab_bar .main_logo a{ width: 133px; height: inherit; position: absolute;}
#header .tab_bar .main_logo img{ width:100%; padding-top: 15px;}

#header .tab_bar .search_btn{ width: 44px; height: 44px; position: absolute; top: 0; right: 47px;}
#header .tab_bar .search_btn a{ width: 44px; height: 44px; position: absolute; }
#header .tab_bar .search_btn a img{ width: 50%; padding: 16px 14px;}

#header .tab_bar .hamburger_btn{ width: 44px; height: 44px; position: absolute; top: 0; right: 3px;}
#header .tab_bar .hamburger_btn img{ width: 60%; padding: 16px 14px;}
/* #header .tab_bar .hamburger_btn a {width: 44px; height: 44px; position: absolute; } */


/* drawer-menu */
#header #drawer-menu{ 
    position: fixed; top: 0; left: -100%; 
    width: 100%; height: 80%; background-color: #fff; z-index: 99999;}
#header #drawer-menu .navi_header{ width: 390px; height: 64px;}
#header #drawer-menu .navi_header .navi_logo{ width: 112px; height: 64px; line-height: 68px; float: left; padding-left: 33px;}
#header #drawer-menu .navi_header .navi_logo img{ width: 100%; }

#header #drawer-menu .navi_header .colse_btn{ width: 64px; height: 64px; float: right;}
/* #header #drawer-menu .navi_header .colse_btn a{ display: block; width: 64px; height: 64px; position: relative;} */
#header #drawer-menu .navi_header .colse_btn img{ width: 70%; padding: 10px 0 0 10px;}

#header #drawer-menu .top_navi{ width: 390px; height: 88px;}
#header #drawer-menu .top_navi ul.top_navi_menu li.top_navi_list{ float: left; width: 89px; line-height: 88px; text-align: center;}
#header #drawer-menu .top_navi ul.top_navi_menu li.top_navi_list a{ color: #363636; font-size: 14px;}

#header #drawer-menu #gnb{ width: 390px; height: 360px; padding-bottom: 30px;}
#header #drawer-menu #gnb ul.main-menu{ width: 390px; height: 218px; float: left;}
#header #drawer-menu #gnb ul.main-menu li.main-list a{ display: block; width: 100%; line-height: 44px; text-align: left;
text-indent: 25px; font-family: 'GillSansMTCondensed'; font-size: 40px; letter-spacing: 4px; color: #363636;}
#header #drawer-menu #gnb ul.main-menu li.main-list>a:last-child{ font-size: 30px;}


#header #drawer-menu #gnb ul.sub-menu{ display: none; width: 390px; margin: 10px 0;}
#header #drawer-menu #gnb ul.sub-menu a{  height: 43px; font-size: 16px; color: #fff; font-family: '나눔스퀘어';}
#header #drawer-menu #gnb ul.sub-menu li.sub-list>a{ display: block; font-family: '나눔스퀘어'; font-size: 16px; letter-spacing: 0;}

#header #drawer-menu .bottom_navi{ width: 390px; height: 128px;}
#header #drawer-menu .bottom_navi a{ display: block; line-height: 23px; font-size: 14px; text-indent: 25px; color: #363636;}
#header #drawer-menu .bottom_navi a:first-child{ padding-top: 39px; border-top: 1px solid #363636;}

/* container */
#container{ width: 390px; height: 1315px; }
#container .title_img{ width: 390px; height: 147px; }
#container .title_img img{ width: 100%;}

#container .contents .center{ width: 346px; margin: 0 auto;}
#container .contents .center .text_article{ width: 350px; height: 104px; border-bottom: 1px solid #363636;}
#container .contents .center .text_article h3{ font-family: 'SCDream4'; font-size: 24px; line-height: 80px; text-align: center;}
#container .contents .center .text_article > p{ font-size: 14px; text-align: left; text-indent: 22px;}

#container .contents .center .section{ width: inherit; height: 1988px; padding-top: 20px; box-sizing: border-box;}
#container .contents .center .section .item{ width: 171px; height: 269px; float: left; margin: 0 1px;}
#container .contents .center .section img{ width: 171px; height: 172px;}
#container .contents .center .section .tag{ font-size: 12px; color: #979797; text-align: center; line-height: 25px;}
#container .contents .center .section .title{ font-size: 14px; color: #363636; text-align: center; line-height: 15px;}
#container .contents .center .section .price{ font-size: 14px; color: #363636; text-align: center; font-weight: bold; line-height: 30px;}

/* footer */
#footer{ height: 486px; clear: both;}
#footer .footer-menu{ height: 44px; background-color: #e6e1e1; }
#footer .footer-menu li{ width: 194px; height: 44px; float: left; }
#footer .footer-menu li:first-child{ border-right: 1px solid #fff;}
#footer .footer-menu li a{ display: block; line-height: 44px; text-align: center; color: #363636; font-size: 14px;}
#footer h3{ font-size: 20px; text-align: center; padding: 76px 0 33px 0;}
#footer address{ font-style: normal; text-align: center; font-size: 12px; line-height: 18px;}
#footer .info{ text-align: center; font-size: 13px; font-weight: bold; padding: 33px 0; line-height: 20px;}
#footer p{ font-size: 12px; text-align: center;}