#container{ width: 390px; height: 787px; margin: 0 auto; background-color: #FFEFE9;}

#container h3{ line-height: 96px; text-align: center; padding-top: 55px; font-size: 24px; font-family: 'SCDream4',sans-serif;}
.section{ width: 316px; margin: 0 auto; background-color: #fff}

.login_box{ height: 209px;}
.login_box input[type=email]{ width: 274px; height: 37px; outline: 0; border: 1px solid #C3C3C3;
margin: 39px 21px 0; text-indent: 10px;}
.login_box input[type=text]{ width: 274px; height: 37px; outline: 0; border: 1px solid #C3C3C3;
margin: 19px 21px 0; text-indent: 10px;}
.login_box button[type=submit]{ width: 274px; height: 44px; margin: 18px 21px 0; border: 0; background-color: #666; color: #fff;
font-size: 14px; cursor: pointer;}

.etc_login{ height: 70px; display: flex; justify-content: space-between; margin: 0 58px; padding-top: 10px;}
.etc_login img{ width: 36px;}
.etc_login li{ display: inline-block; font-size: 13px;}
.etc_login .description{ color: #666666; }

.bottom_menu{ height: 70px; display: flex; justify-content: space-between;  margin: 0 63px;}
.bottom_menu li{ display: inline-block; font-size: 13px; line-height: 52px;}
.bottom_menu a{ color: #8a8a8a;}
.bottom_menu .passwordSearch::before{ content: "|"; margin-right: 20px;}

.join_box{ height: 75px; position: relative;}
.join_box li { display: inline-block;  font-size: 13px; text-align: center;}
.join_box a{ color: #666;}
.join_box .joinQuestions{ line-height: 75px; margin-left: 40px;}
.join_box .join{ line-height: 75px; margin-left: 21px;}
.join_box .material-icons{ font-size: 20px; position: absolute; bottom: 30px; right: 30px; color: #666;}